In [1]:
import requests
import json
import pandas as pd

In [2]:
response = requests.get('https://api.waqi.info/feed/shanghai/?token=562ea3a50976d7d911c99b21b9fc459f45ef631c')
data = response.json()
aqi = data['data']['aqi']
city_name = data['data']['city']['name']
time_str = data['data']['time']['s']
#df = pd.DataFrame()
df_collect = pd.DataFrame([[city_name, time_str, aqi]], columns=['City', 'Time', 'AQI'])
#df.append(df_collect)
df_collect

            City                 Time  AQI
0  Shanghai (上海)  2019-04-02 20:00:00   99

In [6]:
#https://stackoverflow.com/questions/474528/what-is-the-best-way-to-repeatedly-execute-a-function-every-x-seconds-in-python
#https://stackoverflow.com/questions/16597265/appending-to-an-empty-data-frame-in-pandas
#https://stackoverflow.com/questions/13784192/creating-an-empty-pandas-dataframe-then-filling-it/41529411#41529411
import time

col_names = ['City', 'Time', 'AQI']
df = pd.DataFrame(columns = col_names)

count = 0
while int(count) < 3:
    response = requests.get('https://api.waqi.info/feed/shanghai/?token=562ea3a50976d7d911c99b21b9fc459f45ef631c')
    data = response.json()
    aqi = data['data']['aqi']
    city_name = data['data']['city']['name']
    time_str = data['data']['time']['s']
    df_collect = pd.DataFrame([[city_name, time_str, aqi]])
    df = df.append(df_collect)
    count = count + 1
    time.sleep(5)
df

               0                    1     2  AQI City Time
0  Shanghai (上海)  2019-04-02 20:00:00  99.0  NaN  NaN  NaN
0  Shanghai (上海)  2019-04-02 20:00:00  99.0  NaN  NaN  NaN
0  Shanghai (上海)  2019-04-02 20:00:00  99.0  NaN  NaN  NaN