In [44]:
import requests
import json
import pandas as pd

In [45]:
response = requests.get('https://api.waqi.info/feed/shanghai/?token=562ea3a50976d7d911c99b21b9fc459f45ef631c')
data = response.json()

In [46]:
data

{'status': 'ok',
 'data': {'aqi': 102,
  'idx': 1437,
  'attributions': [{'url': 'http://106.37.208.233:20035/emcpublish/',
    'name': 'China National Urban air quality real-time publishing platform (全国城市空气质量实时发布平台)'},
   {'url': 'https://china.usembassy-china.org.cn/embassy-consulates/shanghai/air-quality-monitor-stateair/',
    'name': 'U.S. Consulate Shanghai Air Quality Monitor'},
   {'url': 'http://www.semc.gov.cn/',
    'name': 'Shanghai Environment Monitoring Center(上海市环境监测中心)'},
   {'url': 'https://waqi.info/', 'name': 'World Air Quality Index Project'}],
  'city': {'geo': [31.2047372, 121.4489017],
   'name': 'Shanghai (上海)',
   'url': 'https://aqicn.org/city/shanghai'},
  'dominentpol': 'pm25',
  'iaqi': {'co': {'v': 8.2},
   'no2': {'v': 33},
   'o3': {'v': 20.4},
   'p': {'v': 1011.2},
   'pm10': {'v': 56},
   'pm25': {'v': 102},
   'so2': {'v': 2.6},
   't': {'v': 15.5},
   'w': {'v': 0.1}},
  'time': {'s': '2019-03-29 21:00:00', 'tz': '+08:00', 'v': 1553893200},
  'debug': {'sync': '2019-03-29T23:02:37+09:00'}}}

In [47]:
aqi = data['data']['aqi']
aqi

102

In [48]:
city_name = data['data']['city']['name']
city_name

'Shanghai (上海)'

In [49]:
time = data['data']['time']['s']
time

'2019-03-29 21:00:00'

In [53]:
df_collect = pd.DataFrame([[city_name, time, aqi]], columns=['City', 'Time', 'AQI'])
df_collect

            City                 Time  AQI
0  Shanghai (上海)  2019-03-29 21:00:00  102